
.pageTitle{
    font-weight: 400;
    margin: 2vw 40vw;
}

.container{
    margin-left: 5vw;
}

.inputBox{
    width: 25vw;
    margin: 0.5vw 2.5vw !important; 
}

.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    padding: 10px 25px !important;
    margin-top: 10px !important;
}